@model IEnumerable<Demo.CinemaProject.ASP.Models.DiffusionDetails>

@{
    ViewData["Title"] = "_DiffusionList"; // _Diffusion => le _ sert à dire que c'est une vue partagée + partiel qui ne pourra pas être vue seul mais servira à être ajouté à une autre vue
}

<h1>_DiffusionList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDiffusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDiffusion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
